@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 62px; }
  h3:after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #555555;
    margin: auto;
    margin-top: 30px; }

.h4, h4 {
  font-size: 14px !important; }

h5 {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  text-align: center; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 400 !important;
  color: #555555; }

p {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  margin-bottom: 0; }

.bg-img {
  background-image: url("../images/bg_01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom; }

.navbar .container {
  align-items: stretch; }

.navbar {
  padding: 40px 0 0; }
  .navbar .navbar-toggler .navbar-toggler-icon {
    background-color: white; }
  .navbar a.navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #ffffff !important;
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0; }
  .navbar a.nav-link {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #ffffff;
    padding: 6px 15px;
    margin-bottom: 263px; }
    .navbar a.nav-link:hover {
      color: #ffffff !important; }

.welcome h1 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 48px;
  margin-bottom: 33px;
  text-align: center; }
.welcome p {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 54px;
  text-align: center; }
.welcome a {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 46px;
  border: solid 2px #fff3cd;
  padding-left: 34px;
  padding-right: 34px;
  margin-bottom: 259px; }
  .welcome a:hover {
    color: #c0301c;
    background-color: #fff;
    font-weight: 600; }

.services {
  padding-top: 100px;
  color: #555555; }
  .services h5 {
    margin-bottom: 70px; }
  .services a {
    text-decoration: none;
    display: block;
    margin-bottom: 30px; }
    .services a:after {
      content: "";
      display: inline-block;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #c0301c;
      font-size: 40px;
      width: 86px;
      line-height: 86px;
      border: solid 2px #dddddd;
      border-radius: 50%;
      text-align: center; }
    .services a:nth-child(2):after {
      content: "";
      font-weight: 400; }
    .services a:nth-child(3):after {
      content: "";
      font-weight: 400; }
    .services a:hover:after {
      color: #ffffff;
      background-color: #c0301c; }
  .services .services_description h4 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .services .services_description p {
    line-height: 21px;
    margin-bottom: 101px; }

.about_us {
  background-color: #f8f8f8;
  color: #555555;
  padding-top: 99px; }
  .about_us .owl-carousel .owl-dots {
    display: none; }
  .about_us .owl-carousel .owl-nav {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important; }
    .about_us .owl-carousel .owl-nav .owl-prev:after {
      content: "";
      display: inline-block;
      color: #dddddd;
      width: 35px;
      line-height: 38px;
      background-color: #c0301c;
      position: absolute;
      left: 0;
      bottom: 70%; }
    .about_us .owl-carousel .owl-nav .owl-prev:hover:after {
      background-color: #8f8f8f; }
    .about_us .owl-carousel .owl-nav .owl-next:after {
      content: "";
      display: inline-block;
      color: #dddddd;
      width: 35px;
      line-height: 38px;
      background-color: #c0301c;
      position: absolute;
      right: 0;
      bottom: 70%; }
    .about_us .owl-carousel .owl-nav .owl-next:hover:after {
      background-color: #8f8f8f; }
  .about_us h5 {
    margin-bottom: 75px; }
  .about_us p {
    line-height: 27px;
    margin-bottom: 75px; }
  .about_us .content_carousel .img_carousel {
    position: relative;
    margin-bottom: 20px; }
    .about_us .content_carousel .img_carousel img {
      display: inline-block;
      width: 100%; }
    .about_us .content_carousel .img_carousel .social {
      background-color: rgba(85, 85, 85, 0.5);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      opacity: 0; }
      .about_us .content_carousel .img_carousel .social:hover {
        opacity: 1; }
      .about_us .content_carousel .img_carousel .social a {
        text-decoration: none; }
        .about_us .content_carousel .img_carousel .social a:after {
          content: "";
          display: inline-block;
          font-family: Font Awesome\ 5 Brands;
          font-weight: 900;
          line-height: 28px;
          width: 28px;
          color: #ffffff;
          font-size: 17px;
          text-align: center;
          margin-top: 190px; }
        .about_us .content_carousel .img_carousel .social a:first-of-type:after {
          margin-left: 76px; }
        .about_us .content_carousel .img_carousel .social a:nth-child(2):after {
          content: ""; }
        .about_us .content_carousel .img_carousel .social a:nth-child(3):after {
          content: ""; }
        .about_us .content_carousel .img_carousel .social a:nth-child(4):after {
          content: ""; }
        .about_us .content_carousel .img_carousel .social a:hover:after {
          background-color: #c0301c; }
  .about_us .content_carousel .txt_carousel h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .about_us .content_carousel .txt_carousel p {
    font-family: "Roboto Slab", serif;
    font-size: 13px;
    margin-bottom: 100px; }

.latest_works {
  padding-top: 100px; }
  .latest_works h3 {
    margin-bottom: 60px; }
  .latest_works .ui-widget.ui-widget-content {
    border: 0;
    color: #555555 !important; }
  .latest_works .ui-tabs {
    padding: 0 !important; }
    .latest_works .ui-tabs .ui-tabs-nav {
      padding: 0 !important; }
  .latest_works .ui-widget-header {
    border: 0;
    background: transparent;
    color: #555555 !important;
    font-weight: 400 !important; }
  .latest_works .ui-state-default a, .latest_works .ui-state-default a:link, .latest_works .ui-state-default {
    color: #555555 !important; }
  .latest_works .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0 13px;
    outline: none; }
  .latest_works .ui-widget {
    font-family: "Roboto Slab", serif; }
  .latest_works .ui-widget-content a {
    font-size: 14px;
    margin-bottom: 74px;
    text-align: center;
    outline: none; }
  .latest_works .ui-tabs .ui-tabs-nav li {
    margin: 0 !important;
    padding: 0 !important; }
    .latest_works .ui-tabs .ui-tabs-nav li:hover {
      color: #c0301c; }
  .latest_works .ui-state-default, .latest_works .ui-widget-content .ui-state-default, .latest_works .ui-widget-header .ui-state-default {
    background-color: transparent;
    border: 0; }
  .latest_works .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    color: #c0301c !important;
    outline: none; }
  .latest_works .ui-tabs .ui-tabs-panel {
    padding: 0; }
  .latest_works .work_img {
    display: inline-block;
    margin-bottom: 30px; }
    .latest_works .work_img:last-child {
      margin-bottom: 100px; }
    .latest_works .work_img img {
      display: inline-block;
      width: 100%; }
    .latest_works .work_img .txt_works {
      background-color: rgba(192, 48, 28, 0.5);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      opacity: 0;
      padding-top: 106px; }
      .latest_works .work_img .txt_works:hover {
        opacity: 1; }
      .latest_works .work_img .txt_works h5 {
        font-size: 18px;
        color: #ffffff; }
      .latest_works .work_img .txt_works p {
        font-size: 12px;
        color: #ffffff; }
      .latest_works .work_img .txt_works a {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        color: #c0301c;
        background-color: #fff;
        line-height: 38px;
        padding: 0 21px;
        font-family: "Roboto Slab", serif;
        font-size: 14px; }

.your_project {
  background-image: url("../images/bg-2_06.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px; }
  .your_project p {
    font-family: "Roboto Slab", serif;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 22px; }
    .your_project p:last-of-type {
      margin-bottom: 51px; }
  .your_project a {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 46px;
    border: solid 2px #fff3cd;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 98px; }
    .your_project a:hover {
      color: #c0301c;
      background-color: #fff;
      font-weight: 600; }

.block_post {
  padding-top: 95px; }
  .block_post h5 {
    margin-bottom: 62px; }
  .block_post img {
    display: inline-block;
    width: 100%;
    margin-bottom: 100px; }
  .block_post .up_content {
    font-family: "Montserrat", sans-serif;
    color: #555555; }
    .block_post .up_content .date {
      padding: 18px 23px;
      margin-right: 28px;
      border: solid 2px #555555; }
      .block_post .up_content .date p {
        line-height: 27px;
        font-size: 24px;
        font-weight: 600; }
    .block_post .up_content .txt_up_content p {
      margin-bottom: 20px;
      color: #c0301c;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600; }
    .block_post .up_content .txt_up_content span {
      font-style: italic;
      font-size: 13px; }
      .block_post .up_content .txt_up_content span:nth-child(2), .block_post .up_content .txt_up_content span:nth-child(4) {
        color: #c0301c; }
  .block_post .main_txt_block_post {
    margin-top: 24px; }
    .block_post .main_txt_block_post p {
      line-height: 20px;
      font-size: 14px;
      margin-bottom: 38px; }
    .block_post .main_txt_block_post a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 13px;
      color: #555555;
      font-weight: 600; }
      .block_post .main_txt_block_post a:hover {
        color: #c0301c; }

.clients {
  padding-top: 98px;
  background-color: #f8f8f8; }
  .clients img {
    display: inline-block;
    width: 100%;
    margin-bottom: 77px; }

/*# sourceMappingURL=style.css.map */
