$main-font: 'Montserrat', sans-serif
$main-font-color: #555555
$dop-font: 'Roboto Slab', serif
$dop-font-color: #ffffff
$main-font-size: 14px

*
  padding: 0
  margin: 0

h3
  font-family: $main-font
  //color: $main-font-color
  font-size: 20px
  text-transform: uppercase
  text-align: center
  margin-bottom: 62px

  &:after
    content: ""
    display: block
    width: 50px
    height: 2px
    background-color: #555555
    margin: auto
    margin-top: 30px

.h4, h4
  font-size: $main-font-size !important

h5
  font-family: $dop-font
  font-size: 16px
  text-align: center

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
  font-weight: 400 !important
  color: $main-font-color

p
  font-family: $dop-font
  font-size: $main-font-size

.bg-img
  background-image: url("../images/bg_01.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center bottom

.navbar .container
  align-items: stretch

.navbar
  padding: 40px 0 0

  .navbar-toggler
    .navbar-toggler-icon
      background-color: white

  a.navbar-brand
    font-family: $main-font
    font-weight: 600
    color: $dop-font-color !important
    font-size: 24px
    padding-top: 0
    padding-bottom: 0
    margin-right: 0


  a.nav-link
    font-size: $main-font-size
    font-family: $main-font
    font-weight: 400
    color: $dop-font-color
    padding: 6px 15px
    margin-bottom: 263px

    &:hover
      color: $dop-font-color !important

.welcome

  h1
    text-transform: uppercase
    font-family: $main-font
    color: $dop-font-color
    font-size: 48px
    margin-bottom: 33px
    text-align: center

  p
    color: $dop-font-color
    font-size: 20px
    margin-bottom: 54px
    text-align: center

  a
    display: inline-block
    font-family: $main-font
    color: $dop-font-color
    font-size: 16px
    text-decoration: none
    text-transform: uppercase
    line-height: 46px
    border: solid 2px #fff3cd
    padding-left: 34px
    padding-right: 34px
    margin-bottom: 259px

    &:hover
      color: #c0301c
      background-color: #fff
      font-weight: 600

.services
  padding-top: 100px
  color: $main-font-color

  h5
    margin-bottom: 70px

  a
    text-decoration: none
    display: block
    margin-bottom: 30px

    &:after
      content: "\f031"
      display: inline-block
      font-family: 'Font Awesome 5 Free'
      font-weight: 900
      color: #c0301c
      font-size: 40px
      width: 86px
      line-height: 86px
      border: solid 2px #dddddd
      border-radius: 50%
      text-align: center

    &:nth-child(2):after
      content: "\f121"
      font-weight: 400

    &:nth-child(3):after
      content: "\f1cd"
      font-weight: 400

    &:hover:after
      color: $dop-font-color
      background-color: #c0301c

  .services_description
    h4
      font-family: $main-font
      text-transform: uppercase
      margin-bottom: 25px

    p
      line-height: 21px
      margin-bottom: 101px


.about_us
  background-color: #f8f8f8
  color: $main-font-color
  padding-top: 99px

  .owl-carousel
    .owl-dots
      display: none

    .owl-nav
      font-family: 'Font Awesome 5 Free' !important
      font-weight: 900 !important

      .owl-prev
        &:after
          content: "\f053"
          display: inline-block
          color: #dddddd
          width: 35px
          line-height: 38px
          background-color: #c0301c
          position: absolute
          left: 0
          bottom: 70%

        &:hover:after

          background-color: #8f8f8f

      .owl-next
        &:after
          content: "\f054"
          display: inline-block
          color: #dddddd
          width: 35px
          line-height: 38px
          background-color: #c0301c
          position: absolute
          right: 0
          bottom: 70%

        &:hover:after
          background-color: #8f8f8f

  h5
    margin-bottom: 75px

  p
    line-height: 27px
    margin-bottom: 75px

  .content_carousel
    .img_carousel
      position: relative
      margin-bottom: 20px

      img
        display: inline-block
        width: 100%

      .social
        background-color: rgba(85, 85, 85, .5)
        width: 100%
        height: 100%
        position: absolute
        top: 0
        opacity: 0

        &:hover
          opacity: 1

        a
          text-decoration: none

          &:after
            content: "\f39e"
            display: inline-block
            font-family: Font Awesome\ 5 Brands
            font-weight: 900
            line-height: 28px
            width: 28px
            color: $dop-font-color
            font-size: 17px
            text-align: center
            margin-top: 190px

          &:first-of-type:after
            margin-left: 76px

          &:nth-child(2):after
            content: "\f099"

          &:nth-child(3):after
            content: "\f0d5"

          &:nth-child(4):after
            content: "\f0e1"

          &:hover:after
            background-color: #c0301c

    .txt_carousel
      h5
        font-family: $main-font
        font-size: 14px
        text-transform: uppercase
        margin-bottom: 15px

      p
        font-family: $dop-font
        font-size: 13px
        margin-bottom: 100px

.latest_works
  padding-top: 100px

  h3
    margin-bottom: 60px

  .ui-widget.ui-widget-content
    border: 0
    color: $main-font-color !important

  .ui-tabs
    padding: 0 !important

    .ui-tabs-nav
      padding: 0 !important

  .ui-widget-header
    border: 0
    background: transparent
    color: $main-font-color !important
    font-weight: 400 !important

  .ui-state-default a, .ui-state-default a:link, .ui-state-default
    color: $main-font-color !important

  .ui-tabs
    .ui-tabs-nav
      .ui-tabs-anchor
        padding: 0 13px
        outline: none

  .ui-widget
    font-family: $dop-font

  .ui-widget-content
    a
      font-size: $main-font-size
      margin-bottom: 74px
      text-align: center
      outline: none
      //&:hover
      //  color: #c0301c
  .ui-tabs .ui-tabs-nav li
    margin: 0 !important
    padding: 0 !important

    &:hover
      color: #c0301c

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
    background-color: transparent
    border: 0

  .ui-tabs
    .ui-tabs-nav
      li.ui-tabs-active
        color: #c0301c!important
        outline: none

  .ui-tabs
    .ui-tabs-panel
      padding: 0

  .work_img
    display: inline-block
    margin-bottom: 30px


    img
      display: inline-block
      width: 100%

    .txt_works
      background-color: rgba(192, 48, 28, .5)
      width: 100%
      height: 100%
      position: absolute
      top: 0
      opacity: 0

      padding-top: 106px


      &:hover
        opacity: 1

      h5
        font-size: 18px
        color: $dop-font-color

      p
        font-size: 12px
        color: $dop-font-color

      a
        display: inline-block
        text-decoration: none
        text-transform: uppercase
        color: #c0301c
        background-color: #fff
        line-height: 38px
        padding: 0 21px
        font-family: $dop-font
        font-size: 14px





